@*/*******************************************************************************************************
    * SIT782 - PRACTICAL PROJECT T1 2017
    *
    * GROUP 13:
    *           1. REBECCA FRITH (ID: 213582268)
    *           2. ERIC GRIGSON (ID: 212415996)
    *           3. BENJAMIN FRIEBE (ID: 217109315)
    *
    * ------------------------------------------------------------------------------------------------------
    * FILE NAME:        _OrderStatusView.cshtml
    * FILE DESCRIPTION: Allows users to search for an existing order and displays the receipt in the 
    *                   order_search_results container.
    ********************************************************************************************************/*@
@model EmbrOnlineStore.Models.ShopModel
<h3>Check Order Status</h3>
@*Inputs for searching*@
<input type="number" placeholder="Enter Order ID..." id="order_id_input"class="input" style="margin-right:10px;"/><button id="order_id_button" class="btn btn-primary" onclick="SearchForOrder()">Search</button>


<div id="order_search_results">
 @*Results of search here*@
</div>



<script>
    @*Makes an AJAX call to server to try and find existing Order. On success it loads it in the container.*@
    function SearchForOrder()
    {

        var order_id = $('#order_id_input').val();
        var uri = encodeURI('@Url.Action("RetrieveOrder", "Home")');

        $.ajax({
            url: uri,
            type: "POST",
            cache: false,
            data: "{'orderID':'" + order_id +"'}",
            contentType: "application/json",
            error: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus, /*string*/ errorThrown) {
                alert(errorThrown);
            },
            complete: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus) {
                $("#order_search_results").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />');
                $("#order_search_results").load('@Url.Action("LoadOrderSearchResultsView", "Home")')
            }

        });
    }
</script>