@* Slide out shopping cart by https://github.com/ahmedrad/sliiide*@
@model EmbrOnlineStore.Models.ShopModel

@{
    double cartTotal = 0.0;
    int itemCount =0;

    foreach (var v in Model.shoppingCart)
    {
        cartTotal += (v.Key.sellingPrice * v.Value);
        itemCount += v.Value;
    }
}
<style>
</style>
    <span id="shopping_cart" onclick="LoadShoppingCart()"><span class="glyphicon glyphicon-shopping-cart">  </span> <span class="badge bg-success">@itemCount</span>    </span>


<!--onclick="LoadShoppingCart()-->

<script>
    function LoadShoppingCart() {
        $("#content_div").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />')
        $("#content_div").load('@Url.Action("LoadShoppingCartView", "Home")')
        //$("#content_div").load('@Url.Action("LoadCheckOutView", "Home")')
    };
    (function () {

        $('#min_cart').hide();



    })();

    function ShowCart() {
        $('#min_cart').show();
    }
    function HideCart() {
        $('#min_cart').hide();
    }
</script>