@* Slide out shopping cart by https://github.com/ahmedrad/sliiide*@
@model EmbrOnlineStore.Models.ShopModel

@{
    double cartTotal = 0.0;
    int itemCount =0;

    foreach (var v in Model.shoppingCart)
    {
        cartTotal += (v.Key.sellingPrice * v.Value);
        itemCount += v.Value;
    }
}

<a  href="#" class="glyphicon glyphicon-shopping-cart" onclick="LoadShoppingCart()"> Shopping Cart (@itemCount) - $@cartTotal </a>


<script>
    function LoadShoppingCart() {
        $("#content_div").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />')
        $("#content_div").load('@Url.Action("LoadShoppingCartView", "Home")')
        //$("#content_div").load('@Url.Action("LoadCheckOutView", "Home")')
    };

</script>