@* References:
    All item images sourced from http://www.freepik.com/free-vector/firemen-equipment_759112.htm (open source, free to use)
*@
@*/*******************************************************************************************************
    * SIT782 - PRACTICAL PROJECT T1 2017
    *
    * GROUP 13:
    *           1. REBECCA FRITH (ID: 213582268)
    *           2. ERIC GRIGSON (ID: 212415996)
    *           3. BENJAMIN FRIEBE (ID: 217109315)
    *
    * ------------------------------------------------------------------------------------------------------
    * FILE NAME:        Index.cshtml
    * FILE DESCRIPTION: Home page for the online shop. Contains a container which contains the site's
    *                   content.
    ********************************************************************************************************/*@
@model EmbrOnlineStore.Models.ShopModel
<script src="~/Scripts/jquery-3.1.1.js"></script>

<div id="content_div" style="background-color:rgba(255, 255, 255, 0.8); padding:10px; width:100%;">
    <img src="~/Content/Images/ajax-loader.gif" style="align-content:center;" />
</div>
<script>
    $(document).ready(function () {
        $("#content_div").load('@Url.Action("LoadItemCatalogView", "Home")')
    });

</script>